@{
    ViewBag.Title = "Web Crawl Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row rfc-header recent-projects-page">
    <span>Web Crawl Graph sample</span><br />
</div>

<div id="webcrawl-container" class="center-content">
    
</div>

<div ng-app="app" ng-controller="WebCrawlController as vm">
    <div id="loading-message" ng-show="vm.loading">Please wait ... loading</div>
    <div id="error-message" ng-show="vm.errorred">Please wait ... loading</div>
    <rfc-web-crawl-graph data="vm.graphData" ng-hide="vm.errorred" on-click="vm.onClick(item)"></rfc-web-crawl-graph>
</div>

@section Scripts
{
    <environment names="Development">
        <!-- webCrawlGraphDevelopment:js -->
        <script src="/scripts/webCrawlGraph/app.js"></script>
        <script src="/scripts/webCrawlGraph/webCrawlData.service.js"></script>
        <script src="/scripts/webCrawlGraph/d3.service.js"></script>
        <script src="/scripts/webCrawlGraph/webCrawlGraph.directive.js"></script>
        <script src="/scripts/webCrawlGraph/webCrawl.controller.js"></script>
        <!-- endinject -->
    </environment>
    <environment names="Production,Staging">
        <!-- webCrawlGraphProduction:js -->
        <script src="/scripts/webCrawlGraph/production/webCrawlGraph-54ef65cbd2.js"></script>
        <!-- endinject -->
    </environment>
}

@section Styles
{
    <environment names="Development">
        <!-- webCrawlGraphDevelopment:css -->
        <link rel="stylesheet" href="/css/webCrawlGraph/webcrawl.graph.css">
        <!-- endinject -->
    </environment>
    <environment names="Production,Staging">
        <!-- webCrawlGraphProduction:css -->
        <link rel="stylesheet" href="/css/webCrawlGraph/production/webCrawlGraph-44f0c67616.css">
        <!-- endinject -->
    </environment>
}
