<rfc-inline-style css-file="MyBio/_AboutMe.css"></rfc-inline-style>

<div class="about-me">
    <div class="container">
        <h2>About Me </h2>
        <p>
            I’ve had the pleasure of working within IT for <strong>over 20 years</strong>.  During that time I’ve been privileged to work with many <strong>great people, languages, technologies, systems and processes.</strong>
        </p>
        <p>
            After all that time and all the changes, <strong>I still love IT – especially development.</strong>  As an art form (yes, if done right it is an art form) it continues to evolve and grow.  And we must remember that it is still very young – yet to reach its hundredth birthday.  Compare it to something like architecture which has been in existence for thousands – <strong>we have such a long way to go</strong> – exciting times.
        </p>
    </div>
</div>