@model RedFolder.ViewModels.MyBio

@{
    ViewBag.Title = "MyBio";
}

<rfc-inline-style css-file="MyBio/Index.css"></rfc-inline-style>

<div class="hero-banner">
    <span>"We are the sum total of our experiences.</span><br />
    <span>Those experiences – be they positive or negative – make us the person we are, at any given point in our lives.</span><br />
    <span>And, like a flowing river, those same experiences, and those yet to come, continue to influence and reshape the person we are, and the person we become.</span><br />
    <span>None of us are the same as we were yesterday, nor will be tomorrow."</span><br />
    <span><small>B.J. Neblett From the short story <cite title="Source Title">George</cite></small></span>
</div>

<partial name="_SkillHighlights" />

<partial name="_AboutMe" />

<partial name="_WorkHistory" model=Model.Employment />

<partial name="_Certifications" model=Model.Certifications />