@{
    ViewBag.Title = "Status: " + Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}
<div class="rfc-header recent-projects-page">
    <span>Well done.  You've found an error page.</span><br />
</div>

<div class="site-intro">
    <div class="container">
        <h2>I'm sorry ... </h2>
        <p>Something has gone very wrong.</p>
        <p>Well I'm suprised.  I really wasn't expecting that.  I'm going to have to have a lay down in a darkened room.</p>
        <p>I can only appologise for any inconvience I've caused.  Rest assured that I shall not eat any more cakes until this is resolved.</p>
    </div>
</div>
