@{
    ViewBag.Title = "404 - Not found";
    Layout = "~/Views/Shared/_LayoutWithoutLess.cshtml";
}

<rfc-inline-style css-file="Errors/Common.css"></rfc-inline-style>

<div class="hero-banner">
    <span>Ohhh ... so close, but not quite</span><br />
</div>

<div class="site-intro">
    <div class="container">
        <img src="~/images/NotFound.png" class="img-responsive center-block" />
        <h2>I'm sorry ... </h2>
        <p>
            I cannot find the page you are looking for.  Try one of the below, they are fairly great.
        </p>
        <p>
            <a asp-controller="Services" asp-action="Index"><strong>Services:</strong> The services I provide.</a>
        </p>
        <p>
            <a asp-controller="Projects" asp-action="Index"><strong>Projects:</strong> The projects I host here.</a>
        </p>
        <p>
            <a asp-controller="MyBio" asp-action="Index"><strong>My Bio:</strong> All about me.</a>
        </p>
    </div>
</div>

