.testimonials .title {
    text-align: center;
    color: var(--accent2-colour);
    background-color: var(--main-colour);
    width: 100%;
    line-height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .testimonials .title h2 {
        margin-top: 0px;
    }

    .testimonials .title p {
        margin-bottom: 0px;
    }

.testimonials .body {
    margin: auto;
    max-width: 900px;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-column-gap: 30px;
}

.testimonials .footer{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.testimonials .footer a {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: x-large;
}
