.welcome .title {
    text-align: center;
    color: var(--accent2-colour);
    background-color: var(--main-colour);
    width: 100%;
    line-height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.welcome .title h2 {
    margin: 0px;
}

.welcome .body {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    align-items: center;
}

.welcome .advert {
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
}

.welcome .advert iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
