@model List<RedFolder.ViewModels.SummaryTile>

@{
    ViewBag.Title = "Cordova Plugins";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}
<div class="rfc-header recent-projects-page">
    <h1>Cordova Plugins</h1>
</div>

<div class="site-intro">
    <div class="container">
        <p>
            This is a collection of my Cordova plugins.  They are a bit dated now as I've not really been maintaining - but feel free to use if you find benefit.
        </p>
        <p>
            <strong>Please be aware that I am not actively developing these plugins.  I personally feel that Cordova has run its course and that progressive web apps have replace that need.</strong>
        </p>
    </div>
</div>

<div class="page-separator reverse">
    <h2>Plugin Source Code</h2>
</div>

<div class="container-fluid">
    <div class="blog-tiles row">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var tile in Model)
            {

                <div class="blog-tile col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a asp-controller="@tile.Controller" asp-action="@tile.Action">
                        <h3>@tile.Title</h3>
                        @foreach (var paragraph in tile.Description)
                        {
                            <p>@paragraph</p>
                        }
                        <div class="show-more-icon">
                            <i class="fa fa-chevron-circle-right"></i>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
