@model List<RedFolder.ViewModels.RecentProject>

<rfc-inline-style css-file="Projects/_ProjectList.css"></rfc-inline-style>

<div class="project-list">
    @foreach (var project in Model)
    {
        <div class="project">
            <div class="title">
                <h2>@project.Title</h2>
            </div>
            <div class="description">
                @foreach (var description in project.Description)
                {
                    <p>@description</p>
                }
            </div>

            <div class="diciplines">
                @Html.Partial("_DiciplineGraph", project.Diciplines)
            </div>
            <div class="technologies">
                <ul>
                    @foreach (var technology in project.Technologies)
                    {
                        <li>@technology</li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
