@model RedFolder.ViewModels.BlogCollection

@{
    ViewBag.Title = "Asp.Net Core";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}
<div class="rfc-header recent-projects-page">
    <h1>A first look at the next .Net generation</h1>
</div>

<div class="site-intro">
    <div class="container">
        <p>
            The Microsoft .Net development environment has been with us for over 10 years.  During that time many innovations and changes have occurred.
        </p>
        <p>
            Now is the time for the next evolution of that environment - Core.
        </p>
        <p>
            Over the coming months and years, Microsoft will moving their focus away from the traditional .Net model to the .Net Core - which aims to be smaller, more composable and a better fit for modern software development.
        </p>
        <p>
            In this series I start to look as Asp.Net Core, MVC 6 and Entity Framework Core by convering this website.  I start off in RC1 (Release Candidate 1) and conclude the article using RTM.
        </p>
    </div>
</div>

<div class="page-separator reverse">
    <h2>Asp.Net Core Migration Articles</h2>
</div>

<div class="container-fluid">
    <div class="blog-tiles row">
        @foreach (var blog in Model.BlogsForCurrentPage)
        {
            @(await Html.PartialAsync("_BlogTile", blog))
        }
    </div>
</div>

