@model List<RedFolder.ViewModels.SummaryTile>

@{
    ViewBag.Title = "Recent Projects";
}
<div class="row rfc-header recent-projects-page">
    <h1>Recent Projects</h1>
</div>

<div class="center-content">
    <div class="row">
        <div class="col-xs-12">

            <p>
                This page is a collection of recent projects I've been working on.  If nothing else they provide a place for me to put all my random experiments.
            </p>
        </div>
    </div>
</div>

<div class="center-content">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var tile in Model)
        {
            await Html.RenderPartialAsync("_SummaryRow", tile);
        }
    }
</div>
