@model List<RedFolder.ViewModels.SummaryTile>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_LayoutWithoutLess.cshtml";
}

<rfc-inline-style css-file="Projects/Index.css"></rfc-inline-style>

<div class="hero-banner">
    <h1>Recent Projects</h1>
</div>

<div class="welcome">
    <div class="container">
        <p>
            This page is a collection of projects I've been working on.  If nothing else they provide a place for me to put all my random experiments.
        </p>
    </div>
</div>

@Html.Partial("_ProjectList", Model)