@model List<RedFolder.ViewModels.RecentProject>

@{
    ViewBag.Title = "Projects";
}

<rfc-inline-style css-file="Projects/Index.css"></rfc-inline-style>

<div class="hero-banner">
    <h1>Recent Projects</h1>
</div>

@Html.Partial("_ProjectList", Model)

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <script>
        window.onload = function () {
            if (window.graphs) {
                Object.keys(window.graphs).forEach(key => {
                    var graph = window.graphs[key];
                    graph.chart = new Chart(document.getElementById(graph.elementId), graph.config);
                });
            }
        }
    </script>
}