@model RedFolder.ViewModels.BlogArticle

<a href="@Model.Link">
    @if (Model.Logo != null && Model.Logo.Length > 0)
    {
        <div>
            <img src="@Model.Logo" class="img-responsive center-block" />
        </div>
    }

    <h3>@Model.Title</h3>

    @foreach (var paragraph in Model.Description)
    {
        <p>@paragraph</p>
    }
</a>


