@model RedFolder.ViewModels.BlogCollection

<rfc-inline-style css-file="NewShared/_BlogTiles.css"></rfc-inline-style>

<!-- Include here to load just once -->
<rfc-inline-style css-file="NewShared/_BlogTile.css"></rfc-inline-style>

<div class="container-fluid">
    <div class="blog-tiles row">
        @foreach (var blog in Model.BlogsForCurrentPage)
        {
            @(await Html.PartialAsync("_BlogTile", blog))
        }
    </div>
</div>
