<rfc-inline-style css-file="Shared/_Footer.css"></rfc-inline-style>

<footer>
    <partial name="_SocialButtons" />

    <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="/Services">Services</a></li>
        <li><a href="/Blog">Blog </a></li>
        <li><a href="/Projects">Projects </a></li>
        <li><a href="/MyBio">My Bio</a></li>
        <li><a href="/Home/Contact">Contact</a></li>
    </ul>
    <p class="copyright">Red Folder Consultancy Limited &copy; @DateTime.Now.Year</p>
</footer>