<rfc-inline-style css-file="Shared/_Header.css"></rfc-inline-style>

<header>
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top navigation-clean">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link" rel="home" href="/">
                        <img src="~/Images/RFCLogo48.png" id="rfc-logo">
                    </a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Services">Services</a></li>
                        <li><a href="/Blog">Blog</a></li>
                        <li><a href="/Podcasts">Podcasts</a></li>
                        <li><a href="/Projects">Projects</a></li>
                        <li><a href="/MyBio">My Bio</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div id="fake-header">
    <!-- Used to set content below it now to show UNDER the header -->
    &nbsp;&nbsp;&nbsp;
</div>