<rfc-inline-style css-file="Shared/_NewsletterSignup.css"></rfc-inline-style>

<div class="newsletter-signup">
    <form class="form-inline" action="https://tinyletter.com/red-folder" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/red-folder', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <input type="hidden" value="1" name="embed" />
        
        <input class="form-control" type="text" name="email" id="tlemail" placeholder="Your email address" />

        <button type="submit" class="btn btn-primary mb-2" value="Subscribe">Subscribe to the newsletter</button>
    </form>
</div>