<div class="row hidden-sm hidden-xs row-eq-height skills">
    <div class="col-md-3 highlight">
        <div>15+ years management experience</div>
    </div>
    <div class="col-md-3 highlight">
        <div>20+ years of full software development life cycle experience</div>
    </div>
    <div class="col-md-3 highlight">
        <div>Microsoft Certified Professional: MCSD - Web Applications/ App Builder</div>
    </div>
    <div class="col-md-3 highlight">
        <div>Scrum Master Certified - Scrum.org PSM I</div>
    </div>
</div>

<div class="row hidden-xs hidden-md hidden-lg row-eq-height skills">
    <div class="col-sm-6 highlight">
        <div>15+ years management experience</div>
    </div>
    <div class="col-sm-6 highlight">
        <div>20+ years of full software development life cycle experience</div>
    </div>
</div>
<div class="row hidden-xs hidden-md hidden-lg row-eq-height skills">
    <div class="col-sm-6 highlight">
        <div>Microsoft Certified Professional: MCSD - Web Applications/ App Builder</div>
    </div>
    <div class="col-sm-6 highlight">
        <div>Scrum Master Certified - Scrum.org PSM I</div>
    </div>
</div>

<div class="row hidden-sm hidden-md hidden-lg skills">
    <div class="col-sx-12 highlight">
        <div>15+ years management experience</div>
    </div>
    <div class="col-sx-12 highlight">
        <div>20+ years of full software development life cycle experience</div>
    </div>
    <div class="col-sx-12 highlight">
        <div>Microsoft Certified Professional: MCSD - Web Applications/ App Builder</div>
    </div>
    <div class="col-sx-12 highlight">
        <div>Scrum Master Certified - Scrum.org PSM I</div>
    </div>
</div>

