<rfc-inline-style css-file="Shared/_SoftwareSurveyBanner.css"></rfc-inline-style>

<div class="software-survey-banner">
    <div class="title">
        <h2>UK Executive's attitudes towards custom Software Development</h2>
    </div>
    <div class="body">
        <div class="message">
            <p>
                Have your say in this survey of attitudes towards custom Software Development.
            </p>
            <p>
                Share your opinions in this short 5 step survey.
            </p>
        </div>
        <div class="images">
            <div>
                <a href="https://software-survey.red-folder.com/">
                    <img class="img-responsive" src="~/images/software-survey/tile1-250x250.png" />
                </a>
            </div>
            <div>
                <a href="https://software-survey.red-folder.com/">
                    <img class="img-responsive" src="~/images/software-survey/tile2-250x250.png" />
                </a>
            </div>
            <div>
                <a href="https://software-survey.red-folder.com/">
                    <img class="img-responsive" src="~/images/software-survey/tile3-250x250.png" />
                </a>
            </div>
            <div>
                <a href="https://software-survey.red-folder.com/">
                    <img class="img-responsive" src="~/images/software-survey/tile4-250x250.png" />
                </a>
            </div>
        </div>
    </div>
</div>
