@model RedFolder.ViewModels.SummaryTile

<div class="blog-tile col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a asp-controller="@Model.Controller" asp-action="@Model.Action">
        <div class="blog-tile-inner">
            <h2>@Model.Title</h2>

            @foreach (var paragraph in Model.Description)
            {
                <p>@paragraph</p>
            }
            <div class="show-more-icon">
                <i class="fa fa-chevron-circle-right"></i>
            </div>
        </div>
    </a>
</div>


