@model Red_Folder.Website.Data.Twitter

<div style="display:none;">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Model.Username" />
    <meta name="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content="@Model.Description" />
    <meta name="twitter:image" content="@Model.Image" />
</div>
