@model List<RedFolder.Podcast.Models.Podcast>

<rfc-inline-style css-file="Podcasts/_PodcastEpisodes.css"></rfc-inline-style>

<div class="podcast-episodes">
    <div class="title">
        <h2>Past Episodes</h2>
    </div>
    <div class="body">

        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div>
                    <hr />
                    <h3>@item.Title</h3>
                    <hr />
                    <p class="blog-tile-date">Published: @item.PublishingDateString</p>
                    <p>@Html.Raw(item.Description)</p>

                    <a class="btn btn-primary" href="/podcasts/@item.SafeUrl">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;Listen now
                    </a>
                </div>
            }
        }
    </div>
</div>
