<ul class="podcasters">
    <li><a href="https://podcasts.apple.com/us/podcast/better-roi-from-software-development/id1469426122?uo=4"><img src="~/images/icons/podcasters/apple.png" /></a></li>
    <li><a href="https://www.breaker.audio/better-roi-from-software-development"><img src="~/images/icons/podcasters/breaker.png" /></a></li>
    <li><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9iNjY5NzYwL3BvZGNhc3QvcnNz"><img src="~/images/icons/podcasters/google.png" /></a></li>
    <li><a href="https://overcast.fm/itunes1469426122/better-roi-from-software-development"><img src="~/images/icons/podcasters/overcast.png" /></a></li>
    <li><a href="https://pca.st/PK32"><img src="~/images/icons/podcasters/pocket.png" /></a></li>
    <li><a href="https://radiopublic.com/better-roi-from-software-developm-69OjR2"><img src="~/images/icons/podcasters/radiopublic.png" /></a></li>
    <li><a href="https://www.stitcher.com/podcast/anchor-podcasts/better-roi-from-software-development"><img src="~/images/icons/podcasters/stitcher.png" /></a></li>
</ul>
