@model CodeHollow.FeedReader.Feed

@{
    ViewBag.Title = "Better ROI from Software Development podcast";
}

<rfc-inline-style css-file="Podcasts/Index.css"></rfc-inline-style>

<div class="hero-banner">
    <h1>Better ROI from Software Development Podcast</h1>
</div>

<div class="welcome">
    <div class="container">
        <p>Providing advice on how to get the best Return On Investment from your Software Development.</p>
        <p>This series is targeted at those that fund software development in improving their return on investment.</p>
        <p>Through a series of short weekly podcasts, we explore and explain why "traditional" management techniques will not only produce poor returns, but actively encourage it.</p>

        <h2>Listen at: </h2>
        @Html.Partial("_PodcastersList")
    </div>
</div>

@Html.Partial("_PodcastEpisodes", Model)

@section metas
    {
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@RedFolderMark" />
    <meta property="og:title" name="twitter:title" content="Better ROI from Software Development " />
    <meta property="og:description" name="twitter:description" content="A short weekly podcast aimed at those that fund software development and those that help them.  In the podcast, I look at why traditional software development management techniques won't produce the best return on investment and, along the way, provide advice on how to improve it." />
    <meta property="og:image" name="twitter:image" content="https://red-folder.com/images/PodcastLogo.png" />
}

@section Scripts
    {
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "PodcastSeries",

        "name": "Better ROI from Software Development ",
        "url": "https://red-folder.com/podcasts",
        "description": "A short weekly podcast aimed at those that fund software development and those that help them.  In the podcast, I look at why traditional software development management techniques won't produce the best return on investment and, along the way, provide advice on how to improve it.",

        "webFeed": "https://anchor.fm/s/b669760/podcast/rss",

        "image": {
        "@@type": "ImageObject",
        "url": "https://red-folder.com/images/PodcastLogo.png",
        "height": "150",
        "width": " 280"
        },

        "publisher": {
        "@@type": "Organization",
        "name": "Red Folder Consultancy Ltd",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://www.red-folder.com/media/RFCLogo.png"
        }
        },

        "author": {
        "@@type": "Person",
        "name": "Mark Taylor"
        }
        }
    </script>
}