.software-survey-banner .title {
    text-align: center;
    color: var(--accent2-colour);
    background-color: var(--main-colour);
    width: 100%;
    line-height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .software-survey-banner .title h2 {
        margin: 0px;
    }

.software-survey-banner .body {
    margin: auto;
    max-width: 900px;
    padding: 15px;
    text-align: center;
}

    .software-survey-banner .body .images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
    }
