@{
    ViewBag.Title = "Penetration Testing Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul id="discussion"></ul>
</div>
            @section Scripts
            {
                @*http://www.asp.net/signalr/overview/deployment/tutorial-signalr-self-host*@

                <script src="http://pentestingdnsserver.cloudapp.net:8067/signalr/hubs"></script>

                <script type="text/javascript">
                        $(function () {
                        //Set the hubs URL for the connection
                            $.connection.hub.url = "http://pentestingdnsserver.cloudapp.net:8067/signalr";

                            // Declare a proxy to reference the hub.
                            var chat = $.connection.notificationHub;

                            function addMessage(level, summary, details) {
                                // Html encode display name and message.
                                var encodedLevel = $('<div />').text(level).html();
                                var encodedSummary = $('<div />').text(summary).html();
                                var encodedDetails = $('<ul />');
                                if (details) {
                                    details.forEach(function (element) {
                                        encodedDetails.append('<li>' + $('<div />').text(element).html() + '</li>');
                                    })
                                }
                                // Add the message to the page.
                                $('#discussion').prepend('<li><strong>' + encodedLevel + '</strong>:' +
                                                        '&nbsp;&nbsp;' + encodedSummary +
                                                        '<ul>' +
                                                        encodedDetails.html() +
                                                        '</ul>' +
                                                        '</li>');
                            };

                            // Create a function that the hub can call to broadcast messages.
                            chat.client.addMessage = addMessage;

                            $.connection.hub.error(function (error) { addMessage('Error', error); } );

                            $.connection.hub
                                .start()
                                .done(function () { addMessage('Information', 'connection: ID =' + $.connection.hub.id); })
                                .fail(function () { addMessage('Error', 'Unable to connect'); });
                        });
                </script>
            }

            @section Styles
            {
            }
