@model RedFolder.ViewModels.BlogCollection

@{
    ViewBag.Title = "Microservices";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new-css";
}
<div class="row rfc-header recent-projects-page">
    <span>"microservices is a software architecture style in which complex applications are composed of small, independent processes communicating with each other using language-agnostic APIs.</span><br />
    <span>These services are small, highly decoupled and focus on doing a small task, facilitating a modular approach to system-building."</span><br />
    <span><small><cite title="Source Title"><a href="https://en.wikipedia.org/wiki/Microservices">Wikipedia</a></cite></small></span>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-offset-3 col-lg-6 rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    I've really become intrigued by Microservice architecture.  So much of it feels like a natural progression of many wonderful development practices, techniques and tools – a natural evolution.
                </p>
                <p>
                    Microservices are quite a hot topic currently - moving to fine grained, small, distributed services from “monolith”.  I’d expect it to be an important topic for the next 3-5 years.
                </p>
                <p>
                    I wanted to spend some time exploring the pros and cons of the architecture.  I’ve started to blog about this and will be providing sample code via my Github account and a management tools via this website.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Hide the Dependancy Graph until I get a chance to fix it -->
<div class="row hidden-xs hidden">
    <div class="col-lg-offset-3">
        <h2>Dependancy Graph</h2>
    </div>
</div>

<div class="row hidden-xs hidden">
    <div class="col-xs-12 rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row">
            @{ await Html.RenderPartialAsync("_MicroServiceDependanyGraph"); }

            @section Scripts
            {
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>

                <environment names="Development">
                    <!-- dependancyGraphDevelopment:js -->
                    <script src="/scripts/dependancyGraph/dependancy.graph.js"></script>
                    <!-- endinject -->
                </environment>
                <environment names="Production,Staging">
                    <!-- dependancyGraphProduction:js -->
                    <!-- endinject -->
                </environment>
            }

            @section Styles
            {
                <environment names="Development">
                    <!-- dependancyGraphDevelopment:css -->
                    <link rel="stylesheet" href="/css/dependancyGraph/dependancy.graph.css">
                    <!-- endinject -->
                </environment>
                <environment names="Production,Staging">
                    <!-- dependancyGraphProduction:css -->
                    <link rel="stylesheet" href="/css/dependancyGraph/production/DependancyGraph-44f0c67616.css">
                    <!-- endinject -->
                </environment>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-3">
        <h2>Blog Articles</h2>
    </div>
</div>

<div class="blog-tiles row">
    @foreach (var blog in Model.BlogsForCurrentPage)
    {
        @(await Html.PartialAsync("_BlogTile", blog))
    }
</div>

<div class="row">
    <div class="col-lg-offset-3">
        <h2>Source Code</h2>
    </div>
</div>

<div class="blog-tiles row">
    <div class="blog-tile col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://github.com/Red-Folder/MS-Common-Library">
            <div class="blog-tile-inner">
                <h2>Common Library</h2>
                <p>
                    Common Library code for the Microservices
                </p>
            </div>
        </a>
    </div>

    <div class="blog-tile col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://github.com/Red-Folder/MS-Base-WebAPI">
            <div class="blog-tile-inner">
                <h2>Base WebAPI</h2>
                <p>
                    Base code for Microservice WebAPI
                </p>
            </div>
        </a>
    </div>

    <div class="blog-tile col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://github.com/Red-Folder/MS-Logger">
            <div class="blog-tile-inner">
                <h2>Logger</h2>
                <p>
                    Logger Microservice - provides services via WebAPI
                </p>
            </div>
        </a>
    </div>

    <div class="blog-tile col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://github.com/Red-Folder/MS-Projects">
            <div class="blog-tile-inner">
                <h2>Projects</h2>
                <p>
                    Projects Microservice - provides details for my GitHub projects
                </p>
            </div>
        </a>
    </div>
</div>
