<style>
    .social-buttons {
        padding-top: 25px;
        text-align: center;
        padding-bottom: 25px;
    }

        .social-buttons > a {
            border: 1px solid var(--accent2-colour);
            opacity: 1;
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 8px;
            color: inherit;
        }

            .social-buttons > a:hover {
                opacity: 1;
                color: var(--accent1-colour);
                border: 1px solid var(--accent1-colour);
            }
</style>

<div class="social-buttons">
    <a href="https://github.com/Red-Folder"><i class="fa fa-github"></i></a>
    <a href="skype:red-folder?chat"><i class="fa fa-skype"></i></a>
    <a href="https://twitter.com/RedFolderMark"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/markbryantaylor/"><i class="fa fa-linkedin-square"></i></a>
    <a href="mailto:mark@red-folder.com"><i class="fa fa-envelope"></i></a>
</div>