.podcast-roadmap .title {
    text-align: center;
    color: var(--accent2-colour);
    background-color: var(--main-colour);
    width: 100%;
    line-height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .podcast-roadmap .title h2 {
        margin-top: 0px;
    }
    .podcast-roadmap .title p {
        margin-bottom: 0px;
    }

.podcast-roadmap .body {
    margin: auto;
    max-width: 900px;
    padding: 15px;

    text-align: center;
}

.podcast-roadmap a {
    font-size: x-large;
    margin-bottom: 10.5px;
    width: 100%;
    text-align: center;
}