.podcast-episodes hr {
    border-top: 1px solid var(--main-colour);
}

.podcast-episodes a,
.podcast-episodes a:visited,
.podcast-episodes a:active {
    color: var(--accent1-colour);
    -moz-transition: color 1.5s;
    -o-transition: color 1.5s;
    -webkit-transition: color 1.5s;
    transition: color 1.5s;
}

    .podcast-episodes a:hover,
    .podcast-episodes a:focus {
        text-decoration: none;
        color: var(--main-colour);
    }