<rfc-inline-style css-file="Home/_Testimonials.css"></rfc-inline-style>

<div class="testimonials">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials </h2>
            <p class="text-center">A consultant lives on his reputation. Read what people say about me.</p>
        </div>
        <div class="row people">

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">"I enjoyed working with him, especially in complex projects where Mark could prove his talent to quickly grasp complex matters and being able to translate challenges into well structured action plans." </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        "I have been very impressed with how quickly Mark got to grips with what can only be described as a complex environment. Part of this is Mark has the experience, knowledge and a strong natural ability to get technology and how
                        it works for the business. Mark is also a very easy person to work with due to his collaborative approach."
                    </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        "I have always been impressed with Mark’s desire to improve his own management techniques and adapt to change which is such vital commodity in I.T. sector. He is a great motivational person to be around and this is picked up by
                        the team and helps us to achieve results."
                    </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
