<rfc-inline-style css-file="Home/_Testimonials.css"></rfc-inline-style>

<div class="testimonials">
    <div class="title">
        <h2>Testimonials </h2>
        <p>A consultant lives on his reputation.</p>
        <p>Read what people say about me.</p>
    </div>
    <div class="body">
        <p>
            "I enjoyed working with him, especially in complex projects where Mark could prove his talent to quickly grasp complex matters and being able to translate challenges into well structured action plans."
        </p>

        <p>
            "I have been very impressed with how quickly Mark got to grips with what can only be described as a complex environment. Part of this is Mark has the experience, knowledge and a strong natural ability to get technology and how
            it works for the business. Mark is also a very easy person to work with due to his collaborative approach."
        </p>

        <p>
            "I have always been impressed with Mark’s desire to improve his own management techniques and adapt to change which is such vital commodity in I.T. sector. He is a great motivational person to be around and this is picked up by
            the team and helps us to achieve results."
        </p>
        <p>
            "I would always heartily recommend Mark to any organisation who is looking for someone to come in and sort things out, fix things up, or just add strength to a team. A natural leader yet humanising peer in equal measure."
        </p>
    </div>
    <div class="footer">
        <a class="btn btn-primary" href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
            <i class="fa fa-linkedin-square"></i>&nbsp;Read more on LinkedIn
        </a>
    </div>
</div>
