<rfc-inline-style css-file="Home/_Welcome.css"></rfc-inline-style>

<div class="welcome">
    <div class="title">
        <h2>Welcome </h2>
    </div>
    <div class="body">
        <div class="message">
            <p><strong>Red Folder Consultancy</strong> provides advice and services to help you get&nbsp;<strong>better Return On Investment from your Software Development investment</strong>. </p>
            <p>Software Development is&nbsp;<strong>complex</strong>.</p>
            <p>And traditional management techniques are&nbsp;<strong>counter-productive</strong>. </p>
            <p><strong>Red Folder Consultancy</strong> can help. </p>
        </div>
        <div class="advert">
            <partial name="_Advert" />
        </div>
    </div>
</div>