<rfc-inline-style css-file="Home/_WhoAreRedFolderConsultancy.css"></rfc-inline-style>

<div class="who-are-red-folder-consultancy">
    <div class="container">
        <div class="col-md-3">
            <img class="img-responsive" src="~/images/Me.jpg" alt="Picture of Mark Taylor" />
        </div>
        <div>
            <h2>Who are Red Folder Consultancy?</h2>
            <p>
                <strong>Red Folder Consultancy</strong> is an independent Software Developer Consultancy operated me, <strong>Mark Taylor</strong>.
            </p>
            <p>
                I formed <strong>Red Folder Consultancy</strong> in response to the problems I found with software development being run by traditional management techniques.
            </p>
            <p>
                It was clear to me that, while the Software Development industry was learning and growing, that the businesses that relied on them struggled to keep up.
            </p>
            <p>
                This created a widening gap between the better practices that the Software Development industry wanted to adopt and the understanding from the business community on how this was helpful to them and their goals.
            </p>
        </div>
    </div>
</div>

