@model RedFolder.ViewModels.HomePage

@{
    ViewBag.Title = "Red Folder Consultancy Ltd";
    Layout = "~/Views/Shared/_LayoutWithoutLess.cshtml";
}

<rfc-inline-style css-file="Home/Index.css"></rfc-inline-style>

<div class="hero-banner">
    <h1>Better ROI from Software Development</h1>
</div>

@Html.Partial("_Welcome")

@Html.Partial("_WhoAreRedFolderConsultancy")

@Html.Partial("_Testimonials")