@model RedFolder.ViewModels.HomePage

@{
    ViewBag.Title = "Red Folder Consultancy Ltd";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}

<div class="rfc-header home-page">
    <h1>Better ROI from Software Development</h1>
</div>

<div class="site-intro">
    <div class="container">
        <h2>Welcome </h2>
        <p><strong>Red Folder Consultancy</strong> provides advice and services to help you get&nbsp;<strong>better Return On Investment from your Software Development investment</strong>. </p>
        <p>Software Development is&nbsp;<strong>complex</strong>. And traditional management techniques are&nbsp;<strong>counter-productive</strong>. </p>
        <p><strong>Red Folder Consultancy</strong> can help. </p>
    </div>
</div>

<div class="site-intro reverse">
    <div class="container">
        <h2>Do you want to get a better return on your Software Development development?</h2>
        <p>
            <a asp-controller="projects" asp-action="roi">
                Click here for over 40 articles on the subject ... all for <strong>free</strong>
            </a>
        </p>
        <p>
            <a asp-controller="podcasts">
                Click here to listen to the podcasts
            </a>
        </p>
        <p>
            Or sign up for the newsletter:
        </p>
        <form class="newsletter-form" action="https://tinyletter.com/red-folder" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/red-folder', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
            <p>
                <input type="text" style="width:200px" name="email" id="tlemail" placeholder="Your email address" />
                <input type="hidden" value="1" name="embed" />
                <input type="submit" value="Subscribe" />
            </p>
        </form>
        <p>
            And coming soon ... the <strong>Better ROI from Software Development</strong> podcast
        </p>
    </div>
</div>

<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials </h2>
            <p class="text-center">A consultant lives on his reputation. Read what people say about me.</p>
        </div>
        <div class="row people">

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">"I enjoyed working with him, especially in complex projects where Mark could prove his talent to quickly grasp complex matters and being able to translate challenges into well structured action plans." </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        "I have been very impressed with how quickly Mark got to grips with what can only be described as a complex environment. Part of this is Mark has the experience, knowledge and a strong natural ability to get technology and how
                        it works for the business. Mark is also a very easy person to work with due to his collaborative approach."
                    </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        "I have always been impressed with Mark’s desire to improve his own management techniques and adapt to change which is such vital commodity in I.T. sector. He is a great motivational person to be around and this is picked up by
                        the team and helps us to achieve results."
                    </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
