@model RedFolder.ViewModels.HomePage

@{
    ViewBag.Title = "Red Folder Consultancy Ltd";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}

<div class="rfc-header home-page">
    <h1>Better ROI from Software Development</h1>
</div>

<div class="site-intro">
    <div class="container">
        <h2>Welcome </h2>
        <p><strong>Red Folder Consultancy</strong> provides advice and services to help you get&nbsp;<strong>better Return On Investment from your Software Development investment</strong>. </p>
        <p>Software Development is&nbsp;<strong>complex</strong>. And traditional management techniques are&nbsp;<strong>counter-productive</strong>. </p>
        <p><strong>Red Folder Consultancy</strong> can help. </p>
    </div>
</div>

<div class="features-clean">
    <div class="icon-separator"></div>
    <div class="container">
        <div class="intro">
            <h2 class="text-center">More about Red Folder </h2>
        </div>
        <div class="row features">

            @if (Model != null && Model.Content != null && Model.Content.Count > 0)
            {
                foreach (var tile in Model.Content)
                {
                    <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12 item">
                        <a asp-controller="@tile.Controller" asp-action="@tile.Action">
                            <i class="fa fa-@tile.IconClass icon"></i>
                            <h3 class="name">@tile.Title</h3>

                            @if (tile.Description != null && tile.Description.Count > 0)
                            {
                                foreach (var paragraph in tile.Description)
                                {
                                    <p class="description">@paragraph</p>
                                }
                            }

                            <p class="read-more">Read more <i class="fa fa-chevron-circle-right"></i> </p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="icon-separator rotate180"></div>
</div>

<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials </h2>
            <p class="text-center">A consultant lives on his reputation. Read what have to say below.</p>
        </div>
        <div class="row people">
            
            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        "I have been very impressed with how quickly Mark got to grips with what can only be described as a complex environment. Part of this is Mark has the experience, knowledge and a strong natural ability to get technology and how
                        it works for the business. Mark is also a very easy person to work with due to his collaborative approach."
                    </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        "I have always been impressed with Mark’s desire to improve his own management techniques and adapt to change which is such vital commodity in I.T. sector. He is a great motivational person to be around and this is picked up by
                        the team and helps us to achieve results."
                    </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">"I enjoyed working with him, especially in complex projects where Mark could prove his talent to quickly grasp complex matters and being able to translate challenges into well structured action plans." </p>
                </div>
                <div class="author">
                    <a href="https://uk.linkedin.com/in/mark-taylor-1ab1385">
                        <p><i class="fa fa-linkedin-square"></i> Read full recommendation</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
