@model List<RedFolder.ViewModels.SummaryTile>

@{
    ViewBag.Title = "Red Folder Consultancy Ltd";
}

<div class="row rfc-header home-page">
    <h1>Better ROI from Software Development</h1>
</div>

@Html.Partial("_SummaryTiles", Model)
