@model RedFolder.ViewModels.HomePage

@{
    ViewBag.Title = "Red Folder Consultancy Ltd";
}

<rfc-inline-style css-file="Home/Index.css"></rfc-inline-style>

<div class="hero-banner">
    <span>An Independent Consultancy</span><br />
    <span>helping you to achieve</span><br />
    <span>Better ROI from Software Development</span>
</div>

<partial name="_Welcome" />

@if (Model?.PodcastPromotion != null)
{
    <partial name="_PodcastPromotion" model=Model.PodcastPromotion />
}

<partial name="_Testimonials" />

<div class="contact">
    <div class="title">
        <h2>Contact</h2>
    </div>
    <div class="body">
        <p>
            I can help your Development Team with
            <strong>Team Leadership</strong>,
            <strong>Solution Architecture</strong>,
            <strong>DevOps automation</strong>,
            or <strong>hands-on Development</strong>
        </p>
        <partial name="_ContactForm" model=Model.ContactForm />
    </div>
</div>
