<rfc-inline-style css-file="Services/_Welcome.css"></rfc-inline-style>

<div class="welcome">
    <div class="title">
        <h2>Software Development should deliver ROI</h2>
    </div>
    <div class="body">
        <p>Are you getting a good return on your <strong>software development investment</strong>?</p>
        <p>Do you think that it can be better?</p>
        <p>I can provide <strong>bespoke consultancy and coaching</strong> - tailored to your organisation.</p>
    </div>
</div>