@{
    ViewBag.Title = "Software Development Health Check";
    Layout = "~/Views/Shared/_LayoutWithoutLess.cshtml";
}

<rfc-inline-style css-file="Services/HealthCheck.css"></rfc-inline-style>

<div class="hero-banner">
    <h1>Software Development Health Check</h1>
    <br/>
    <span>Get better ROI from Software Development</span>
</div>

<div class="page-content">
    <div class="container">
        <h2>Software Development causing you a headache?</h2>
        <p>Your business is being <strong>held back by Software Development.</strong></p>
        <p>You're kept awake at night by fears over your Software Development.</p>
        <p>You worry that it isn’t keeping pace with your business needs.</p>
        <p><strong>You’ve tried to resolve it yourself;</strong> you’ve set targets, you’ve encouraged, you’ve cajoled, you’ve been driven half insane with techno-babble – <strong>but your tried and tested management techniques aren’t working – if anything they are producing negative effects.</strong></p>
    </div>
</div>

<div class="page-content reverse">
    <div class="container">
        <h2>Imagine your Software Development being a catalyst</h2>
        <p>Imagine Software Development as a <strong>major enabler to your business</strong>.  Imagine it giving you a <strong>competitive advantage</strong>.</p>
        <p>Imagine your fears are gone.  That <strong>your Software Development is something to be proud of.</strong></p>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <h2>Get help from a Software Development expert</h2>
        <p>Why?</p>
        <p>As someone that has been a <strong>development nerd for over 20 years</strong>, I can help.</p>
        <p>I spend a considerable amount of time <strong>understanding techno-babble  – so you don’t have to.</strong></p>
        <p>How?</p>
        <p>My Software Development Health check is a service designed to evaluate the ROI you are getting.</p>
        <p>I looks at the <strong>unique needs of your business</strong>.   Review your current capabilities.  Then report back with <strong>actionable meaningful advice</strong>.</p>
        <p>Think of it as a report card on how Software Development is done in your business.</p>
    </div>
</div>

<div class="page-content reverse">
    <div class="container">
        <h2>Here’s what it typically looks like:</h2>
        <p>A call to ensure that the service is right for you.</p>
        <p>2 days of onsite interviews with key stakeholders and your developers.</p>
        <p>A written report providing <strong>recommendations tailored to your priorities.</strong></p>
        <p>An onsite presentation of the reports findings.</p>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <h2>Ready to go?</h2>
        <p>Interested in getting <strong>better Return On Investment from your Software Development?</strong></p>
        <p>The price is £5,000 (exc VAT and expenses) – easily recouped in ROI improvements.</p>
    </div>
</div>

<div class="social reverse">
    <p>Just drop me an email.  We can schedule a call and see how I can help you</p>
    <a href="skype:red-folder?chat"><i class="fa fa-skype"></i></a>
    <a href="https://twitter.com/RedFolderMark"><i class="fa fa-twitter"></i></a>
    <a href="mailto:mark@red-folder.com"><i class="fa fa-envelope"></i></a>
</div>

<div class="page-content">
    <div class="container">
        <h2>Not sure if this service is right for you?</h2>
        <p>If you’ve read this far, then I’d say yes.</p>
        <p>My rough rule of thumb; if you’ve got a large dedicated Software Development function that is working well – then I’ll probably not add as much value.</p>
        <p>If however, you’d see yourself as a small to medium organisation whose business is not Software Development, but you rely heavily on it – then I expect <strong>I can add value</strong>.</p>
        <p><strong>The fact you read this far would indicate you think you need help.</strong></p>
    </div>
</div>

<div class="page-content reverse">
    <div class="container">
        <h2>Availability is limited</h2>
        <p>Due to the manually intensive nature of the Health Check; unfortunately I’m only able to offer a limited number per month.</p>
        <p>Again for a no-commitment chat, contact me on <a href="mailto:mark@red-folder.com">mark@red-folder.com</a>.</p>
        <p><strong>If I don’t think I can help you, I’ll say so.</strong></p>
    </div>
</div>

<div class="social">
    <h2>Still have questions?</h2>
    <p>Not a problem, contact me on:</p>
    <a href="skype:red-folder?chat"><i class="fa fa-skype"></i></a>
    <a href="https://twitter.com/RedFolderMark"><i class="fa fa-twitter"></i></a>
    <a href="mailto:mark@red-folder.com"><i class="fa fa-envelope"></i></a>
</div>


@section metas
{
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@RedFolderMark" />
    <meta property="og:title" name="twitter:title" content="Software Development Health Check" />
    <meta property="og:description" name="twitter:description" content="Are you getting the best ROI from your Software Development investment?  Take a Health Check to find out." />
    <meta property="og:image" name="twitter:image" content="https://www.red-folder.com/media/HealthCheckPromo.png" />
}

@section Scripts
{
    <script type="application/ld+json">
        {
            "@@context": "http://schema.org",
            "@@type": "Service",
            "serviceType": "Software Development Health Check",
            "image": {
                "@@type": "ImageObject",
                "url": "/media/HealthCheckPromo.png",
                "height": "150",
                "width": " 280"
            },
            "provider": {
                "@@type": "Organization",
                "name": "Red Folder Consultancy Ltd",
                "logo": {
                    "@@type": "ImageObject",
                    "url": "https://www.red-folder.com/media/RFCLogo.png"
                }
            },
            "url": "https://www.red-folder.com/services/healthcheck",
            "description": "Are you getting the best ROI from your Software Development investment?  Take a Health Check to find out."
        }
    </script>
}