@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new-css";
}

<div class="row rfc-header services-page">
    <span>"We are uncovering better ways of developing</span><br />
    <span>software by doing it and helping others do it.</span><br />
    <span>Through this work we have come to value:</span><br />
    <br />
    <span><strong>Individuals and interactions</strong> over processes and tools</span><br />
    <span><strong>Working software</strong> over comprehensive documentation</span><br />
    <span><strong>Customer collaboration</strong> over contract negotiation</span><br />
    <span><strong>Responding to change</strong> over following a plan</span><br />
    <br />
    <span>That is, while there is value in the items on</span><br />
    <span>the right, we value the items on the left more."</span><br />
    <span><small><cite title="Source Title">Agile Manifesto</cite></small></span>
</div>

<div class="row">
    <div class="col-md-offset-2 col-lg-offset-3">
        <h2>Software Development should deliver ROI</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8  rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row">
            <div class="hidden-xs col-sm-3">
                <img src="~/images/icons/Consultancy.png" />
            </div>
            <div class="col-xs-12 col-sm-9 col-md-6" style="text-align:center;">
                <p>Are you getting a good return on your software development investment?</p>
                <p>Do you think that it can be better?</p>
                <p>I can provide bespoke consultancy and coaching - tailored to your organisation.</p>
            </div>
            <div class="hidden-xs hidden-sm col-md-3" style="text-align:right;">
                <img src="~/images/icons/Consultancy.png" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-lg-offset-3">
        <h2>Interim Management</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8  rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row">
            <div class="hidden-xs col-sm-3">
                <img src="~/images/icons/Team.png" />
            </div>
            <div class="col-xs-12 col-sm-9 col-md-6" style="text-align:center;">
                <p>Need interim IT management?</p>
                <p>Need someone to step into help?</p>
                <p>With over 15 years of management and considerable experience being parachuted into legacy team, I can help.</p>
            </div>
            <div class="hidden-xs hidden-sm col-md-3" style="text-align:right;">
                <img src="~/images/icons/Team.png" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-lg-offset-3">
        <h2>Software Development</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8  rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row">
            <div class="hidden-xs col-sm-3">
                <img src="~/images/icons/Development.png" />
            </div>
            <div class="col-xs-12 col-sm-9 col-md-6" style="text-align:center;">
                <p>Need quality software development?</p>
                <p>Need excellent ROI?</p>
                <p>I have experience in a variety of programming language, frameworks and processes.  Talk to me and see if I can help.</p>
            </div>
            <div class="hidden-xs hidden-sm col-md-3" style="text-align:right;">
                <img src="~/images/icons/Development.png" />
            </div>
        </div>
    </div>
</div>
