@model List<RedFolder.ViewModels.Service>

@{
    ViewBag.Title = "Services";
}

<rfc-inline-style css-file="Services/Index.css"></rfc-inline-style>

<div class="hero-banner">
    <span>"We are uncovering better ways of developing</span><br />
    <span>software by doing it and helping others do it.</span><br />
    <span>Through this work we have come to value:</span><br />
    <br />
    <span><strong>Individuals and interactions</strong> over processes and tools</span><br />
    <span><strong>Working software</strong> over comprehensive documentation</span><br />
    <span><strong>Customer collaboration</strong> over contract negotiation</span><br />
    <span><strong>Responding to change</strong> over following a plan</span><br />
    <br />
    <span>That is, while there is value in the items on</span><br />
    <span>the right, we value the items on the left more."</span><br />
    <span><small><cite title="Source Title">Agile Manifesto</cite></small></span>
</div>

@Html.Partial("_Welcome")

@Html.Partial("_ServiceList", @Model)

