@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}

<div class="rfc-header services-page">
    <span>"We are uncovering better ways of developing</span><br />
    <span>software by doing it and helping others do it.</span><br />
    <span>Through this work we have come to value:</span><br />
    <br />
    <span><strong>Individuals and interactions</strong> over processes and tools</span><br />
    <span><strong>Working software</strong> over comprehensive documentation</span><br />
    <span><strong>Customer collaboration</strong> over contract negotiation</span><br />
    <span><strong>Responding to change</strong> over following a plan</span><br />
    <br />
    <span>That is, while there is value in the items on</span><br />
    <span>the right, we value the items on the left more."</span><br />
    <span><small><cite title="Source Title">Agile Manifesto</cite></small></span>
</div>


<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Software Development should deliver ROI</h2>
            <p class="text-center">Are you getting a good return on your <strong>software development investment</strong>?</p>
            <p class="text-center">Do you think that it can be better?</p>
            <p class="text-center">I can provide <strong>bespoke consultancy and coaching</strong> - tailored to your organisation.</p>
        </div>
        <div class="row people">

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Coming Soon ...</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        A Software Development Health Check service aimed at helping you get better ROI.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        For early access, get in touch.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Real industry experience</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        With other 15 years of top table experience across a variety of organisations, I know what Owners, Shareholders and Board are looking for.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        They aren't looking for latest IT fad.  They aren't looking for the cool technology.  They simply aren't excited or motivated by it.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        They are interested in how to achieve thier long term business goals.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        With my expeirences, I can explain the IT fad, the cool technology, in terms of that long term business goal.  I can explain when they are (or are not) right for improving the overall ROI of the business.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>ROI Library</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <p>Over 40 articles aimed at helping you get better ROI ... all for <strong>free</strong></p>
                    <p class="description">&nbsp;</p>
                    <p class="read-more">
                        <a asp-controller="projects" asp-action="roi">
                            Read more <i class="fa fa-chevron-circle-right"></i>
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="social reverse">
    <p>Contact me to see if I can help:</p>
    <a href="skype:red-folder?chat"><i class="fa fa-skype"></i></a>
    <a href="https://twitter.com/folderred"><i class="fa fa-twitter"></i></a>
    <a href="mailto:mark@red-folder.com"><i class="fa fa-envelope"></i></a>
</div>

<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Interim Management</h2>
            <p class="text-center">Need <strong>interim IT management?</strong></p>
            <p class="text-center">Need someone to step into help?</p>
            <p class="text-center">Over <strong>15 years of management</strong></p>
            <p class="text-center">Considerable <strong>experience being parachuted into legacy teams</strong></p>
        </div>
        <div class="row people">

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>15+ years of management experience</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        Teams from 2 to 22.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        Permanent, Contractors, Outsourcers, Onshore, Offshore, Nearshore.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        From graduates to seasonsed veterans ... and everyone inbetween.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        From the self-motivated to the dispirited.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Scrum Master certified</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <img src="/Images/PSMI.png" />
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        I believe strongly in the value of Scrum to deliver ROI in your Software Development.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        Holding a recognised Scrum Master certification, I can demonstrate a clear knowledge and ability to apply solid servant-leadership practices.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Full leadership experience</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <ul>
                        <li>Recruitment &amp; Interviewing</li>
                        <li>Team Development</li>
                        <li>Process Improvement</li>
                        <li>Stakeholder Management</li>
                        <li>Knowledge Transfer</li>
                        <li>Business Process Analysis/ Re-engineering</li>
                        <li>Budget Management &amp; financial planning</li>
                        <li>Strategic planning and roadmap</li>
                        <li>Emergency incident triage &amp; management</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="social reverse">
    <p>Contact me to see if I can help:</p>
    <a href="skype:red-folder?chat"><i class="fa fa-skype"></i></a>
    <a href="https://twitter.com/folderred"><i class="fa fa-twitter"></i></a>
    <a href="mailto:mark@red-folder.com"><i class="fa fa-envelope"></i></a>
</div>

<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Cyber Security</h2>
            <p class="text-center"><strong>I am not certified ethical hacker?</strong></p>
            <p class="text-center">If you need one, I'll point you at the experts.</p>
            <p class="text-center">I can help Cyber Security problems in Software Development.</p>
            <p class="text-center">With my years of technical experience across a variety of platforms, systems and technologies - <strong>I have the skills to help track down Cyber problems</strong>.</p>
        </div>
        <div class="row people">

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Case Study 1</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        I was asked by a client to evaluate the security stance of their new website (PHP, MySQL, AWS).  Within minutes I has established a variety of vunerabilities which would allow their entire corporate database to be extracted.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        Within hours we had a tactical plan inplace to resolve.  Over the coming weeks, I worked with their development team through a resolution plan.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Case Study 2</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        Following professional Vunerability scan, my client asked me to investigate two high priority issues.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        Through detailed analysis and mediation with the Security provider; I was able to demonstrate to everyones satisfation that the issues where false positives.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Case Study 3</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        Following automated "Bot" abuse of sign up promotions, a client asked me to prepare a report on mitigation actions.
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        I produced a report walking through how an attacker could produce the "Bot" along with counter-meassures (and potential further attacks an attacker could undertake).
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="social reverse">
    <p>Contact me to see if I can help:</p>
    <a href="skype:red-folder?chat"><i class="fa fa-skype"></i></a>
    <a href="https://twitter.com/folderred"><i class="fa fa-twitter"></i></a>
    <a href="mailto:mark@red-folder.com"><i class="fa fa-envelope"></i></a>
</div>

<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Software Development</h2>
            <p class="text-center">Need <strong>quality software development?</strong></p>
            <p class="text-center">Need <strong>excellent ROI?</strong></p>
            <p class="text-center">Experienced in a variety of programming language, frameworks and processes.</p>
        </div>
        <div class="row people">

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>MCSD: App Builder</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <img src="/Images/MCSD-App-Builder-logo-Blk.png" />
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        The Microsoft Certified Solutions Developer (MCSD): App Builder certification validates the skills needed to build modern web applications and services.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Technologies</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        Over the years I've gained experience in:
                    </p>
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        C#, Asp.Net Web Forms/ MVC, C, C++, Informix, T-SQL, SQL Server, MySQL, Azure Functions, DocumentDB, Jenkins, Team City, VSTS, Android, Cordova/ Phonegap, JavaScript, Angular, React, Assembler, C, C++, Delphi, Pascal, Cobol, Powershell, Bash, Node, Python, JQuery, WCF, Azure, AWS, xUnit, nUnit, Jasmine, Mocha, SpecFlow, JMeter, Jest, Git, HTML, CSS, Octopus, PHP, VB.Net, Windows Server/ Client, Linux, Unix (AIX & SCO), IIS, Apache and a whole bunch more
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <p class="description">
                        <strong>Microsoft Specialist: Programming in HTML5 with JavaScript and CSS3</strong>
                    </p>
                    <p class="description">&nbsp;</p>
                    <img src="/Images/MS_2013(rgb)_1485.png" />
                    <p class="description">&nbsp;</p>
                    <p class="description">
                        The Microsoft Specalist: Programming in HTML5 with JavaScript and CSS3 certification validates the skills to modern web technologies.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

