@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new-css";
}

<div class="row rfc-header services-page">
    <span>"We are uncovering better ways of developing</span><br />
    <span>software by doing it and helping others do it.</span><br />
    <span>Through this work we have come to value:</span><br />
    <br />
    <span><strong>Individuals and interactions</strong> over processes and tools</span><br />
    <span><strong>Working software</strong> over comprehensive documentation</span><br />
    <span><strong>Customer collaboration</strong> over contract negotiation</span><br />
    <span><strong>Responding to change</strong> over following a plan</span><br />
    <br />
    <span>That is, while there is value in the items on</span><br />
    <span>the right, we value the items on the left more."</span><br />
    <span><small><cite title="Source Title">Agile Manifesto</cite></small></span>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8  rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                <img src="~/images/icons/Consultancy.png" class="img-rounded" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" style="text-align:center;">
                <h2>Software Development should deliver ROI</h2>
            </div>
            <div class="hidden-xs col-sm-3 col-md-2 col-lg-2" style="text-align:right;">
                <img src="~/images/icons/Consultancy.png" class="img-rounded" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center; padding-top:15px; font-size: 20px;">
                <p>Are you getting a good return on your <strong>software development investment</strong>?</p>
                <p>Do you think that it can be better?</p>
                <p>I can provide <strong>bespoke consultancy and coaching</strong> - tailored to your organisation.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center; padding-bottom: 10px;">
                <div>
                    <img src="/images/icons/social/mail-dreamstale47.png" class="img-rounded" />
                    &nbsp;&nbsp;&nbsp;
                    <a href="mailto:mark@red-folder.com" style="font-size: 20px; padding-top: 8px;">
                        <strong>Email:</strong> mark@red-folder.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8  rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                <img src="~/images/icons/Team.png" class="img-rounded" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" style="text-align:center;">
                <h2>Interim Management</h2>
            </div>
            <div class="hidden-xs col-sm-3 col-md-2 col-lg-2" style="text-align:right;">
                <img src="~/images/icons/Team.png" class="img-rounded" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center; padding-top:15px; font-size: 20px;">
                <p>Need <strong>interim IT management?</strong></p>
                <p>Need someone to step into help?</p>
                <p>With over <strong>15 years of management</strong> and considerable <strong>experience being parachuted into legacy teams</strong>, I can help.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center; padding-bottom: 10px;">
                <div>
                    <img src="/images/icons/social/mail-dreamstale47.png" class="img-rounded" />
                    &nbsp;&nbsp;&nbsp;
                    <a href="mailto:mark@red-folder.com" style="font-size: 20px; padding-top: 8px;">
                        <strong>Email:</strong> mark@red-folder.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8  rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row">
            <div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                <img src="~/images/icons/Team.png" class="img-rounded" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8" style="text-align:center;">
                <h2>Software Development</h2>
            </div>
            <div class="hidden-xs col-sm-3 col-md-2 col-lg-2" style="text-align:right;">
                <img src="~/images/icons/Team.png" class="img-rounded" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center; padding-top:15px; font-size: 20px;">
                <p>Need <strong>quality software development?</strong></p>
                <p>Need <strong>excellent ROI?</strong></p>
                <p>I have experience in a variety of programming language, frameworks and processes.  Talk to me and see if I can help.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center; padding-bottom: 10px;">
                <div>
                    <img src="/images/icons/social/mail-dreamstale47.png" class="img-rounded" />
                    &nbsp;&nbsp;&nbsp;
                    <a href="mailto:mark@red-folder.com" style="font-size: 20px; padding-top: 8px;">
                        <strong>Email:</strong> mark@red-folder.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

