@model Red_Folder.com.ViewModels.Activity.ActivityLayout<Red_Folder.com.Models.Activity.BookActivity>

<div id="@Model.LayoutId" class="book-section">
    <h2>What I'm currently reading ...</h2>
    <img src="@Model.Activity.Books.First().ImageUrl" height="400px;" />
</div>
