@model Red_Folder.com.ViewModels.Activity.ActivityLayout<Red_Folder.com.Models.Activity.ClientActivity>

<div id="client-logo">
    <div class="header-icon">
        <i class="fas fa-users"></i>
    </div>
</div>
<div id="client-section">
    <h2>Who the works been for</h2>
    <canvas id="clientChart" width="500px" height="400px"></canvas>
    <script>

        window.graphs = window.graphs || {};

        const clientChartData = [
                            @foreach(var client in Model.Activity.Clients)
                            {
                                @:{
                                @: client: '@client.Name',
                                @: value: @client.TotalDuration,
                                @: label: '@Red_Folder.com.Utils.TimePeriod.FromSeconds(client.TotalDuration)'
                                @:},
                            }

        ];
            window.graphs.clientChart = {
                elementId: 'clientChart',
                config: {
                    type: 'pie',
                    data: {
                        labels: clientChartData.map(x => x.client),
                        datasets: [{
                            backgroundColor: [
                                'rgba(44, 160, 44, 1)',
                                'rgba(255, 127, 14, 1)'
                            ],
                            data: clientChartData.map(x => x.value)
                        }]
                    },
                    options: {
                        title: {
                            display: false
                        },
                        responsive: false,
                        legend: {
                            labels: {
                                fontSize: 25
                            },
                            position: 'bottom'
                        },
                        plugins: {
                            labels: {
                                // render 'label', 'value', 'percentage', 'image' or custom function, default is 'percentage'
                                render: (data) => {
                                    return clientChartData.filter(x => x.client == data.label)[0].label;
                                },

                                // precision for percentage, default is 0
                                precision: 0,

                                // identifies whether or not labels of value 0 are displayed, default is false
                                showZero: false,

                                // font size, default is defaultFontSize
                                fontSize: 20,

                                // font color, can be color array for each data or function for dynamic color, default is defaultFontColor
                                fontColor: '#000',

                                // font style, default is defaultFontStyle
                                fontStyle: 'normal',

                                // font family, default is defaultFontFamily
                                fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",

                                // draw text shadows under labels, default is false
                                textShadow: true,

                                // text shadow intensity, default is 6
                                shadowBlur: 10,

                                // text shadow X offset, default is 3
                                shadowOffsetX: -5,

                                // text shadow Y offset, default is 3
                                shadowOffsetY: 5,

                                // draw label in arc, default is false
                                // bar chart ignores this
                                arc: false,

                                // position to draw label, available value is 'default', 'border' and 'outside'
                                // bar chart ignores this
                                // default is 'default'
                                position: 'default',

                                // draw label even it's overlap, default is true
                                // bar chart ignores this
                                overlap: true,

                                // show the real calculated percentages from the values and don't apply the additional logic to fit the percentages to 100 in total, default is false
                                showActualPercentages: true,

                                // add padding when position is `outside`
                                // default is 2
                                outsidePadding: 4,

                                // add margin of text when position is `outside` or `border`
                                // default is 2
                                textMargin: 4
                            }
                        }
                    }
                }
            };
    </script>
</div>