@model Red_Folder.com.Models.Activity.FocusActivity

<div id="focus-logo">
    <div class="header-icon">
        <i class="fas fa-search"></i>
    </div>
</div>
<div id="focus-section">
    <h2>The hats I've been wearing</h2>
    <canvas id="focusChart" width="500px" height="400px"></canvas>
    <script>
            window.graphs = window.graphs || {};

            window.graphs.focusChart = {
                elementId: 'focusChart',
                config: {
                    type: 'pie',
                    data: {
                        labels: [

                            @foreach(var focus in Model.Focus)
                            {
                                @:'@focus.Name',
                            }
                        ],
                        datasets: [{
                            backgroundColor: [
                                'rgba(44, 160, 44, 1)',
                                'rgba(255, 127, 14, 1)',
                                'rgba(31, 119, 180, 1)',
                                'rgba(255, 51, 204, 1)',
                            ],
                            data: [
                                @foreach(var focus in Model.Focus)
                                {
                                    @:@focus.TotalDuration,
                                }
                            ]
                        }]
                    },
                    options: {
                        title: {
                            display: false
                        },
                        responsive: false,
                        plugins: {
                            labels: {
                                // render 'label', 'value', 'percentage', 'image' or custom function, default is 'percentage'
                                render: () => {
                                    return '';
                                }
                            }
                        },
                        legend: {
                            labels: {
                                fontSize: 25
                            },
                            position: 'bottom'
                        }
                    }
                }
            };
    </script>
</div>