@model Red_Folder.com.ViewModels.Activity.ActivityLayout<Red_Folder.com.Models.Activity.PluralsightActivity>

<div id="@Model.LayoutId" class="pluralsight-section">
    <h2>Pluralsight courses watched ...</h2>
    @foreach (var course in Model.Activity.Courses)
        {
        <div>
            <img class="course-logo" src="@course.CourseImageUrl" alt="Alternate Text" height="100px" />
            <div class="course-description">
                <h3>@course.Title</h3>
                <p>@course.ShortDescription</p>
            </div>
        </div>
    }
</div>

