@model Red_Folder.com.ViewModels.Activity.ActivityLayout<Red_Folder.com.Models.Activity.PodCastActivity>

<div id="@Model.LayoutId">
    <h2>
        <time-period seconds="@Model.Activity.TotalDuration"></time-period> of Podcasts ...
    </h2>

    <canvas id="podcastChart" width="500px" height="400px"></canvas>
</div>

<script>
        window.graphs = window.graphs || {};

        window.graphs.podcast = {
            elementId: 'podcastChart',
            config: {
                type: 'radar',
                data: {
                    labels: [
                        @foreach (var category in Model.Activity.Categories.OrderBy(category => category.Name))
                        {
                            @:'@Html.Raw(category.Name)',
                        }
                    ],
                    datasets: [{
                        label: 'Podcast breakdown',
                        backgroundColor: 'rgba(152, 223, 138, 0.3)',
                        borderColor: 'rgba(44, 160, 44, 1)',
                        pointBackgroundColor: 'rgba(44, 160, 44, 1)',
                        data: [
                            @foreach (var category in Model.Activity.Categories.OrderBy(category => category.Name))
                            {
                                @:'@((double)category.TotalDuration / 60 / 60)',
                            }
                        ]
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: false
                    },
                    scale: {
                        ticks: {
                            beginAtZero: true
                        },
                        pointLabels: {
                            fontSize: 20
                        }
                    },
                    responsive: false
                }
            }
        };
</script>
