@model Red_Folder.com.ViewModels.Activity.ActivityLayout<Red_Folder.com.Models.Activity.SkillsActivity>

<div id="@Model.LayoutId">
    <h2>The skills I've used ...</h2>
    <div id="skills-cloud">
    </div>
</div>

<partial name="_SkillsCloud" model=Model.Activity.Skills />

<script>
    (function () {
        drawCloud(100, 500, 400);
    })();
</script>

