.welcome .title {
    text-align: center;
    color: var(--accent2-colour);
    background-color: var(--main-colour);
    width: 100%;
    line-height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .welcome .title h2 {
        margin: 0px;
    }

.welcome .body {
    margin: auto;
    max-width: 900px;
    padding: 15px;
    text-align: center;
}
