.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project {
    display: grid;

    grid-template-columns: 50% 50%;
    
    justify-items: center;

    padding: 15px;
}

    .project .title {
        color: var(--accent2-colour);
        background-color: var(--main-colour);
        
        padding: 5px 10px 5px 10px;
        grid-column: span 2;

        width: 100%;
        text-align: center;     
        line-height: 100%;
    }

    .project .title h2 {
        margin: 0px;
    }

    .project .description {
        grid-column: span 2;

        list-style: none;
        margin-left: 0px;
        padding-left: 0px;

        text-align: center;
    }

        .project .description li {
            list-style: none;
            margin-left: 0px;
            padding-left: 0px;
        }

        .project .technologies {
            align-self: center;
        }

    .project .technologies ul {
        margin-left: 0px;
        padding-left: 0px;

        text-align: center;
    }

    .project .technologies li {
        margin: 2px;
        color: var(--accent2-colour);
        display: inline-block;
        background-color: var(--accent1-colour);
        padding: 5px 10px 5px 10px;
    }
