<style>
    footer {
        padding: 0px 0 20px 0;
        background-color: var(--main-colour);
        color: var(--accent2-colour);
    }

        footer ul {
            padding: 0;
            list-style: none;
            text-align: center;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 0;
        }

            footer ul li {
                padding: 0 10px;
            }

                footer ul li a {
                    color: inherit;
                    text-decoration: none !important;
                }

                    footer ul li a:visited {
                        color: var(--accent2-colour);
                    }

                    footer ul li a:hover {
                        color: var(--accent1-colour);
                    }

        footer .copyright {
            color: var(--accent2-colour);
            margin-top: 15px;
            text-align: center;
            font-size: 13px;
            margin-bottom: 0;
        }
</style>

<footer>
    <NewsletterSignup />

    <SocialButtons />

    <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="/Services">Services</a></li>
        <li><a href="/Blog">Blog </a></li>
        <li><a href="/Projects">Projects </a></li>
        <li><a href="/MyBio">My Bio</a></li>
        <li><a href="/Home/Contact">Contact</a></li>
    </ul>
    <p class="copyright">Red Folder Consultancy Limited &copy; @DateTime.Now.Year</p>
</footer>