@inherits LayoutComponentBase

<style>
    .page-container {
        padding-top: 80px; /* To give room for the fixed nabar */
    }
</style>

<Header />

<div id="page-container">
    @Body
</div>

<Footer />
